spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: ${SPRING_JPA_SHOW_SQL:true}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8080}
  forward-headers-strategy: native

jwt:
  secret: "replace-with-secure-random-secret-of-32-plus-bytes"
  expiration-ms: 3600000

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.oddhandyman: DEBUG

cloudinary:
  cloud_name: "dizghimqh"
  api_key: "573251821361226"
  api_secret: "XqHlsB8wpA9ga73AcxlWBI6kPxs"